nav   {
  font-family: 'Roboto', sans-serif;
}
.fecha  {
  font-family: 'Playfair Display', serif;
  text-align: left;
  font-size: 12pt;
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
}


.texto1   {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2pt;
  text-align: justify;
  font-size: 11pt;
  margin-left: 55px;
  margin-right: 55px;
  line-height: 30pt;

}

.blog {
  color: #E56353;
}

.fecha    {
  font-family: 'Playfair Display', serif;
}

.botoncompartir   {
font-family: 'Roboto', sans-serif;
}

.texto-encima  {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  font-size: 45pt;
  margin-top: 100px;

}
