nav   {
  font-family: 'Roboto', sans-serif;
}
.texto1   {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3pt;

  font-size: 10pt;
}

.blog {
  color: #E56353;
}

.fecha    {
  font-family: 'Playfair Display', serif;

}
