
.texto1   {
  height: 100%;
}

.logo   {
  width: 50%;
  text-align: right;
  position: static;
}

.tituloimagen {
  position: absolute;
  margin: 400px;
  text-align: center;
}

.imagencabecera     {
  position: static;
  display: block;
  width: 100%;
}

.botoncompartir   {
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
  display: inline-block;
  position: relative;
  }

.comentartwitter  {
  position: relative;
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
  display: inline-block
}

.fotonaomi  {
border-radius: 60%;
justify-content: center;
}


.paginacion   {
  margin-top: 55px;
  margin-bottom: 55px;
}

.div-img img  {

  position: static;
}


@media (min-width: 768px) {
  .columna2 {
    text-align: center;
  }
}


@media (max-width: 800px) {
  #infocontac {
    display: none;
    visibility: hidden;
  }
}

.paga   {
  padding-top: 50px;
  padding-bottom: 50px;
}


@media (max-width: 800px) {
  #infornaomi {
    text-align: center;

  }
}

.btn  {
  border-radius: 40px;
  margin-right: -40px;
}

.footer    {
height: 106px;

}
