
.texto1   {
  height: 100%;
}

.logo   {
  width: 50%;
  text-align: right;
  position: static;
}

h1 {
  position: absolute;
  z-index: 1;
  margin: 400px;
  text-align: center;

}

.custom-class {
  display: none;

.imagencabecera     {
  position: static;
  display: block;
  width: 100%;
}

.botoncompartir   {
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
  display: inline-block;
  position: relative;
}

.comentartwitter  {
  position: relative;
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
  display: inline-block
}

.fotonaomi  {
border-radius: 60%;
justify-content: center;
}

.paginacion   {
  margin-top: 55px;
  margin-bottom: 55px;
}

.logofooter   {
  width: 20%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.infocontacto   {

}

.paga   {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pagination   {

}
