
.texto1   {
  height: 100%;

}

.logo   {
  width: 50%;
  text-align: right;
}

.imagenav   {
 width: 100%;
}

.botoncompartir   {
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.comentartwitter  {
  margin-left: 55px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.paginacion   {
  margin-top: 55px;
  margin-bottom: 55px;
}

.logofooter   {
  width: 20%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
