nav         {
  background-color: #121619;
}

footer  {
  background-color: #121619;
}

.twitternao, .webnao {
  color: #D76c69;
}

.paga   {
  background-color: #E6E7E7;
  padding-top: 50px;
  padding-bottom: 50px;
}
